[{
  "Operation": "GET /mysql",
  "Telemetry.Source":"ClientSpan",
  "RemoteService": "mysql",
  "RemoteOperation": "SELECT",
  "RemoteResourceType": "DB::Connection",
  "RemoteResourceIdentifier": "information_schema|rdsaurorajavaclusterformysql.cluster-cuxlqjpgho6b.eu-west-1.rds.amazonaws.com|3306"
}]